<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>

</head>
<body>

<h1>Sign up</h1>
<form method="POST" action="mechanicsignup.html">
    <label>Email:</label><br />
    <input type="text" name="Email"><br />
    <label>Password:</label><br />
    <input type="password" name="Password"><br />
    <label>Company name:</label><br />
    <input type="text" name="Company Name"><br />
    <label>Address:</label><br />
    <input type="text" name="Address"><br />
    <label>Phone:</label><br />
    <input type="number" name="Phone"><br />
    <label>Description:</label><br />
    <input type="text" name="Description"><br />
    <button type="submit">Sign up</button>
</form>
</body>
</html>