<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>

</head>
<body>

<h1>Sign up</h1>
<form method="POST" action="ownersignup.html">
    <label>Email:</label><br />
    <input type="text" name="Email"><br />
    <label>Password:</label><br />
    <input type="password" name="Password"><br />
    <label>First name:</label><br />
    <input type="text" name="First Name"><br />
    <label>Last name:</label><br />
    <input type="text" name="Last Name"><br />
    <button type="submit">Sign up</button>
</form>
</body>
</html>

